
.container{
  width: 100vw;
  height: auto;
}

.left--section{
  margin-top: 10rem;

}

img{
  width: 120px;
  height: auto;
  margin-left: 1.5rem;
  margin-bottom: 10px;

}

h1{
  color: #14AE5C;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  font-style: normal;
}

h2{
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  font-size: 1.5rem;
  font-style: normal;
}

.right--section{
  margin-top: 5rem;
  


}

form{
  padding: 2rem;

  width: 100%;
  height: auto;

  background-color: white;
  border-radius: 5px;
}

label{

  display: block;
  margin-bottom: 0.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  font-size: 0.9rem;
  font-style: normal;
  background-color: white;
  
}
input{
  margin-bottom: 0.75rem;
  width: 100%;
  margin-left: 2%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color:#F5F5F5;


}
.register--button{
  margin-bottom: 0.75rem;
  width: 100%;
  margin-left: 2%;
  padding: 5px;
  background-color: #14AE5C;
  color: white;
  border: 1px solid black;
  margin-top: 2rem;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  font-size: 0.75rem;

}
.login--section{
  margin-top: 2rem;
  


}
.login--section p{
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  font-size: 0.75rem;
}


.login--button{
  background-color: #14AE5C;
  height: 30px;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  font-size: 0.75rem;

}
.form--group{
  background-color: white;
}

@media (max-width: 768px) {
  .left--section {
    margin-top: 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }
  img{
    width: 60px;
    height: auto;
    margin-left: 5rem;
    margin-bottom: 5px;
  
  }
}

@media (max-width: 576px) {
  .left--section {
    margin-top: 5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  .container {
    border: none; /* Adjust for smaller screens */
  }
}